<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="style.css">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flappy Bird Score</title>
</head>
<body>
<h1>Flappy Bird Score</h1>
<p id="score">Score: </p>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.js"></script>
<script>
    const socket = io();

    socket.on('scoreUpdated', (score) => {
        document.getElementById("score").innerText = "Score: " + score;
    });
</script>
</body>
</html>
